extends layout

block stylesheets
	link(rel='stylesheet', href='/css/jquery-ui-smoothness.css')
	link(rel='stylesheet', href='/jtable/lib/themes/metro/lightgray/jtable.min.css')

block content
	.page-header
		h3 jTable Purchase Orders
	
	#PurchaseOrderTableContainer

block scripts
	script(src='/js/jquery-ui.min.js')
	script(src='/jtable/lib/jquery.jtable.min.js')
	script(src='/js/purchaseOrder.jtable.js')