form.form-horizontal
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='productId') Product Id
      .col-sm-7
        select.form-control(id='productId' disabled='disabled')
            each item in products
                option= item.id
    .form-group
      label.col-sm-3.control-label(for='productName') Product Name
      .col-sm-7
        select.form-control(id='productName')
            each item in products
                option= item.name
    .form-group
      label.col-sm-3.control-label(for='qty') Quantity
      .col-sm-7
        input.form-control(type='text', name='qty', id='qty', autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='price') Price
      .col-sm-7
        input.form-control(type='text', name='price', id='price', required)
        br
        button.btn.btn-primary.btn-success(id='saveProduct' type="submit")
            i.fa.fa-user-plus
            | Save
        span(style="margin-left:10px")
        button.btn.btn-primary.btn-reset(id='cancelProduct')
            i.fa.fa-user-plus
            | Cancel
        
block scripts
    script(src='/js/newPurchase.js')